.custom-button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: white;
    background-color: var(--red);
    border: 2px solid var(--red);
    margin: 0.5rem;
    cursor: pointer;
    font-size: 18px;

    &.start-button {
        border-color: var(--green);
        background-color: var(--green);
    }

    &.stop-button {
        border-color: var(--red);
        background-color: var(--red);
    }

    &.pause-button {
        border-color: var(--orange);
        background-color: var(--orange);
    }

    &.resume-button {
        border-color: var(--lightgreen);
        background-color: var(--lightgreen);
    }

    &.reset-button {
        border-color: var(--lightcoral);
        background-color: var(--lightcoral);;
    }

    &.lap-button {
        border-color: var(--black);;
        color: var(--black);;
        background-color: var(--white);;
    }
}