.countdown-timer-container {
    display: flex;
    flex-direction: row;
    margin: 1rem;

    .button-container {
        flex: 0.5;

        .countdown-timer-timer {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
        }

        .lap-time {
            font-size: 14px;

            span {
                color: #f29e25;
            }
        }
    }

    .laps-container {
        flex: 0.5;
    }
}