.timer-container {
    display: flex;
    flex-direction: row;
    margin: 1rem;

    .button-container {
        flex: 0.5;

        .stop-watch-timer {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
        }
    }

    .laps-container {
        flex: 0.5;
    }
}